<p id="notice"><%= notice %></p>

<h1>Proveedores</h1>

<table>
  <thead>
    <tr>
      <th>Identificacion</th>
      <th>Nombre</th>
      <th>Idciudad</th>
      <th>Iddpto</th>
      <th>Dirreccion</th>
      <th>Correo</th>
      <th>Telefonos</th>
      <th>Idtipoprov</th>
      <th>Idestadoprov</th>
      <th>Idcategoriaprov</th>
      <th>Comentario</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @proveedores.each do |proveedore| %>
      <tr>
        <td><%= proveedore.identificacion %></td>
        <td><%= proveedore.nombre %></td>
        <td><%= proveedore.idCiudad %></td>
        <td><%= proveedore.idDpto %></td>
        <td><%= proveedore.dirreccion %></td>
        <td><%= proveedore.correo %></td>
        <td><%= proveedore.telefonos %></td>
        <td><%= proveedore.idTipoProv %></td>
        <td><%= proveedore.idEstadoProv %></td>
        <td><%= proveedore.idCategoriaProv %></td>
        <td><%= proveedore.comentario %></td>
        <td><%= link_to 'Show', proveedore %></td>
        <td><%= link_to 'Edit', edit_proveedore_path(proveedore) %></td>
        <td><%= link_to 'Destroy', proveedore, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Proveedore', new_proveedore_path %>
